body{
    color: white;
    /*background-image: url(C:/Users/DELL/PycharmProjects/Excelency/LencyFrontEnd/Media/ChatBotBackground.jpg);*/
    /*background-color: #778899;*/
    background-color: #F5F5F5;
    /*background: rgba(119,136,153,0.2)*/
    /*color: #FFFFFF;
    background-color: #8C939D; */
}

.header{
position:fixed;
/*background-color: #3CB371;*/
height: 52px;
width:100%;
margin-bottom:4.5px;
background-color: #08e1ae;
background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
}
/*
.content{
overflow-y:visible;
}
*/

.messageClass{
padding-top:50px;
padding-bottom:53px;
margin: auto;
vertical-align: middle;
overflow-wrap: break-word;
overflow-y:auto;
}
#body::-webkit-scrollbar {
    display: none;
}

.formClass{
float:left;
position:fixed;
 bottom: 6px;
 margin-top: 5px;
 left: 1.5px;
}

input.message:focus, input:focus{
    outline: none;
}
button.send:focus, button:focus{
    outline: none;
}
button.voiceButton:focus, button:focus{
    outline: none;
}


#voiceButton {
border-radius: 50%;
float:left;
margin-left:8.5px;
display:inline-block;
margin-right:2px;
width:35px;
height:35px;
background-image: url('/Users/raji/Chatbot/LencyFrontEnd/Media/mic.png');
background-repeat: no-repeat;
background-color:transparent; 
background-size: contain;
border-color:transparent;

}

#myForm {
    padding-left : 1px;
    float:left;
    display:inline-block;
  }
#message{
width:200px;
border-radius:20px;
border-width: 1px;
border-color: black;
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
scroll-padding-right: 5px;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box; 
}

#send{
width:32px;
height:32px;
border-radius: 25%;
background-image: url('/Users/raji/Chatbot/LencyFrontEnd/Media/paper-plane.png');
background-repeat: no-repeat;
background-color:transparent; 
background-size: contain;
border-color:transparent;
}

/*
#myForm {
    position:absolute;
    border: 3px solid #73AD21;
    bottom: 3px;
    margin-top: 5px;
    left: 5.68px;
    float:bottom;
  }
*/
/*#botName
{
    text-shadow: 0 0 3px "#000000", "#00000";
    color: #73AD21;
}*/
#botName
{
    line-height: 5px;
    font-size: 30px
}
/*.subtext
{
    line-height: 3px;
    font-size: 13px;
    margin-left:45px;
}
*/

.img-spec {
    border-radius: 50%;
    border: 0.1px solid #ddd;
    /*border-radius: 2px;*/
    padding: 3px;
    width: 48px;
    margin-top: 2px;
    margin-left: 2px;

  }



 /*input#send{
    background: #ccc url('https://image.flaticon.com/icons/svg/60/60525.svg') no-repeat top left;
}

/*.img-spec
{padding-left: 16px;
    height: 16px;

    max-width:5%;
    margin-top:2px;
    height:auto;
  }
*/
/*head{
    color: white;
    background-color: black;
}*/
/*background-image: linear-gradient(-90deg,#43cea2 ,#185a9d);*/

